@{
    ViewData["Title"] = "Welcome";
}
@model ArabicLearning.Repositories.Models.User;

<h2 class="align-self-center text-primary">Welcome @Model.firstName!</h2>
<div class="border-success text-success text-center align-self-center">
     You have successfully created your account Today @Model.Created </div>
<div class="text-primary">
    Your token is: @ViewData["result"]
</div>