
@{
    ViewData["Title"] = "Social";
}

<h2 class="align-self-center text-primary">Social</h2>

<div class="card">
    <h3 href="" class="card-header offset-1">Apps</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Conferences</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Meetups</h3>
</div>
