
@{
    ViewData["Title"] = "Resources";
}

<h2 class="align-self-center text-primary">Resources</h2>

<div class="card">
    <h3 href="" class="card-header offset-1">Books</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Lectures</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Dictionaries</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Poems</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Manuscripts</h3>
</div>