@{
    ViewData["Title"] = "Welcome bvc";
}
@model ArabicLearning.Repositories.Models.User;

<h2 class="align-self-center text-primary">Welcome @Model.Name !</h2>
<div class="border-success text-success text-center align-self-center"> You have successfully created your account Today @Model.Created </div>